* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;

  section {
    position: relative;
    background-color: #2d2d2d;
    #DVDLogo {
      position: absolute;
      width: 200px;
      fill: crimson;
    }
  }
}
